h1 {
  color: blue;
}
body {
  background-image: url("../src/cloudy.gif");
  background-repeat: repeat;
  background-size: cover;
}
img {
  width: 250px;
  height: 150px;
}
button {
  position: relative;
  right: -650px;
  top: -39px;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
}

.container {
  position: relative;
  right: 100px;
  top: 100px;
}
.current-temp {
  position: relative;
  left: 900px;
  top: -100px;
  font-size: 115px;
}
.disweather {
  position: relative;
  left: 960px;
  top: -130px;
}
#datetime {
  position: relative;
  left: 909px;
  top: -130px;
}
.degree {
  position: relative;
  left: 920px;
  top: -150px;
  font-size: 70px;
}
.btns {
  position: relative;
  left: 970px;
  top: -145px;
}
.Windspeed {
  position: relative;
  left: 965px;
  top: -130px;
}
#mainImg {
  position: relative;
  left: 700px;
  top: -380px;
}
